.main{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #f06, #fc0);
  height: 100vh;
}
 
  
  .create_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%; /* Adjust margin for horizontal spacing */
    padding: 20px 30px;
    background: linear-gradient(135deg, #f06, #fc0);
    border-radius: 7px;
    width: 100%;
    
  }
  
  .heading {
    color: rgb(56, 56, 56);
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 7px;
  }
  
  .checkboxLabel {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  .checkbox {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    
    border:2px solid white
  }
  
  .buttons {
    display: flex;
    gap: 15px;
  }
  
  .button {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.26);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .button:hover {
    background: linear-gradient(135deg, #f06, #fc0);
  }