.todo_card {
  background: linear-gradient(150deg, rgb(55, 52, 53), rgb(132, 122, 83));
  border: 5px solid #0f0f0f;
  border-radius: 2px;
  margin: 5%;
  padding: 0px 25px 30px 25px;

  max-width: 600px;
}

.todo_card_title {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: 600;
  color: black;
}

.title_link {
  text-decoration: none;
  color: rgb(36, 36, 36);
}

.todo_card_description {
  margin-bottom: 5px;
}

.todo_card_status {
  font-weight: bold;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .todo_card {
    
    border-radius: 2px;
    margin: 5%;
    padding: 0px 25px 30px 25px;
    max-width: 600px;
  }
}

.title_link {
  text-decoration: none; /* Remove default underline */
  color: black; /* Set default text color */
  transition: color 0.3s; /* Add a smooth transition effect to color changes */
}

.title_link:hover {
  color: #b2dc0b; /* Change the text color on hover */
}
.title_link:hover .todo_card {
  transform: translateX(
    5px
  ); /* Move the element 10 pixels to the right on hover */
}
.todo_card {
  transition: transform 0.3s;
  background: linear-gradient(150deg, rgb(55, 52, 53), rgb(132, 122, 83));
  /* Gradient background color */
  padding: 10px; /* Adding some padding for better visibility of the gradient */
}
